@model IEnumerable<WealthMVC.Models.Portifolio>

@{
    ViewData["Title"] = "Index";
}

<h1>Portifólio</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ativos.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativos.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoAtual)
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            double? totalBRL = 0;
            double? totalUSD = 0;
        }
        @foreach (var item in Model)
        {
            var total = item.Quantidade * item.PrecoAtual;
            var totalString = "";
            var preco = "";
            var precoAtual = "";


            if (item.Ativos.Classe == WealthMVC.Enums.eAtivosClasse.Stock || item.Ativos.Classe == WealthMVC.Enums.eAtivosClasse.EtfExterior)
            {
                preco = $"${item.Preco}";
                precoAtual = $"${item.PrecoAtual}";
                totalString = $"${item.Quantidade * item.PrecoAtual}";
                totalUSD = totalUSD + total;
            }
            else
            {
                totalString = $"R${item.Quantidade * item.PrecoAtual}";
                preco = $"R${item.Preco}";
                precoAtual = $"R${item.PrecoAtual}";
                totalBRL = totalBRL + total;
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativos.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativos.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => precoAtual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => totalString)
                </td>
            </tr>
        }
        <tr class="bg-dark">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Total BRL:
            </td>
            <td>
                R$@Html.DisplayFor(modelItem => totalBRL)
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                Total USD:
            </td>
            <td>
                $@Html.DisplayFor(modelItem => totalUSD)
            </td>
        </tr>
    </tbody>
</table>
