@model IEnumerable<WealthMVC.Models.Portifolio>

@{
    ViewData["Title"] = "Index";
}

<h1>Portifólio</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ativos.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativos.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoAtual)
            </th>
             <th>
               Total
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var total = item.Quantidade * item.PrecoAtual;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ativos.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativos.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => total)
            </td>
        </tr>
}
    </tbody>
</table>
